/*
    Description:    CSS-declarations for UI-Elements.
    Author:         Philipp Barnickel
    Version:        1.0
    Date:           02.02.2018
*/

.root {
    -fx-font-family: "Helvetica";
    -fx-background-image: url(../Media/piano.jpg);
    -fx-background-size: cover;
    -fx-text-fill: #202020;
}

/********************************** Header ************************************/

.hdr {
    -fx-font-family: "Helvetica";
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-padding: 20 50;
    -fx-margin: 1000;
    -fx-text-fill: #202020;
}

/********************************** Button ************************************/

.btn {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
    -fx-text-fill: #EAEAEA;
    -fx-font-size: 20px;
    -fx-background-radius: 3;
    -fx-cursor: hand;
}

/********************************** Text-Element ************************************/

.txt {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-padding: 20 50;
    -fx-text-fill: #202020;
    -fx-font-size: 20px;
}

/********************************** Label ************************************/

.lbl {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-padding: 9;
    -fx-text-fill: #202020;
    -fx-font-size: 20px;
}

.lbl-static {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-padding: 9;
    -fx-text-fill: #202020;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}

.lbl-list-item {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-padding: 7 9;
    -fx-text-fill: #202020;
    -fx-font-size: 20px;
    -fx-pref-width: 120;
    -fx-font-style: italic;
}

/********************************** Text-Field ************************************/

.edt {
    -fx-padding: 9;
    -fx-text-fill0: #202020;
    -fx-font-size: 20px;
    -fx-background-radius: 2;
}

/********************************** Toggle-Button ************************************/

.tgl {
    -fx-pref-height: 47px;
    -fx-pref-width: 50px;
    -fx-padding: 5;
    -fx-cursor: hand;
    -fx-background-color: #FF9999;
    -fx-background-radius: 5 0 0 5;
    -fx-border-color: rgba(0,0,0,0.1);
}

.tgl:selected {
    -fx-background-color: #88AA88;
}

.tgl-switch {
    -fx-padding: 9;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 20px;
}

.tgl-switch:selected {
    -fx-background-color: #88AA88;
}

.tgl-lbl {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 0 5 5 0;
    -fx-padding: 0 50;
    -fx-text-fill: #202020;
    -fx-font-size: 20px;
}

/********************************** Choice-Box ************************************/

.chb {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-font-size: 20px;
    -fx-padding: 1.5;
    -fx-cursor: hand;
}

.choice-box > .label {
    -fx-text-fill: #EAEAEA;
}

.chb .context-menu {
    -fx-padding: 0;
    -fx-pref-width: 245;
}

.chb .menu-item:hover {
    -fx-cursor: hand;
}

/********************************** Message-Box ************************************/

.out {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-text-fill: #202020;
    -fx-pref-height: 47px;
    -fx-padding: 0 20;
    -fx-font-size: 20px;
}

.msg_i {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-font-weight: 900;
}

.msg_w {
    -fx-background-color: rgba(255,255,224,0.8);
    -fx-font-weight: 900;
}

.msg_e {
    -fx-background-color: rgba(255,153,153,0.8);
    -fx-font-weight: 900;
}

.msg_s {
    -fx-background-color: rgba(136,170,136,0.8);
    -fx-font-weight: 900;
}

/********************************** Tab-Pane ************************************/

.tab-pane {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 3;
}

/********************************** Tab ************************************/

.tab {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:hover {
    -fx-background-color: rgba(0,0,0,0.7);
}

.tab .tab-label {
    -fx-text-fill: #D0D0D0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: rgba(50,50,50,0.2);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected, .tab:selected {
    -fx-background-color: rgba(0,0,0,0.7);
}

/********************************** Table-View ***********************************/

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: rgba(0,0,0,0.03);
}

.table-view:focused{
    -fx-background-color: transparent;
}

.col_disable {
    -fx-opacity: 0.9;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-field-table-cell .text-field {
    -fx-padding: 0;
}

.choice-box-table-cell .choice-box {
    -fx-padding: 0;
    -fx-cursor: hand;
}

.choice-box-table-cell .choice-box .label {
    -fx-text-fill: #FFFFFF;
}

.choice-box-table-cell .choice-box .context-menu {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-padding: 0;
    -fx-pref-width: 245;
}

.choice-box-table-cell .choice-box .menu-item:hover {
    -fx-cursor: hand;
}

.choice-box-table-cell .choice-box .menu-item .label {
    -fx-text-fill: #EAEAEA;
}

.table-view .filler,
.table-view .column-header,
.table-view .column-header .filler,
.table-view > .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-stroke: transparent;
    -fx-size: 40;
}

.table-view .column-header:hover {
    -fx-cursor: hand;
}

.table-view .table-column {
    -fx-stroke: transparent;
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-cell{
    -fx-text-fill: rgba(0,0,0,1);
    -size: 40;
}

.table-row-cell:selected, .table-row-cell:odd:selected {
    -fx-background-color: rgba(110,167,207,0.7);
}

.table-row-cell {
    -fx-border-color: rgba(0,0,0,0.03);
    -fx-table-cell-border-color: rgba(0,0,0,0.03);
    -fx-background-color: rgba(255,255,255,0.2);
}

.table-row-cell:odd {
    -fx-background-color: rgba(255,255,255,0.25);
}

.table-view:row-selection {
    -fx-fixed-cell-size: 40;
}

/****************** SCROLLBAR ********************************************/

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius: 5em;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

/******************** HYPERLINK ******************************/

.hyp {
    -fx-font-size: 20px;
}

/******************** SLIDER *********************************/